.navbar {
	background-color: black!important;
}

.page-content {
	background-color: white;
	min-height:unset; 
	height:94vh;
}

.page-header {
	background-color: #495057;
}

#map-placement {
	height: 88vh;
	margin-left: -30px;
    margin-right: -30px;
}